{% extends "../base.html"%}
{% block title%}{{post.title}}{% endblock title%}

{% block content %}
<h1>
    {{post.title}}
</h1>

<!-- publish date and author just like the list template -->
<p class="date">
    {{post.published_at}}-{{post.author}}
</p>


<!-- posts body -->
{{post.body|linebreaks}}

<p>
    <a href="{% url "post_share" post.id %}">
    Share this post
    </a>
</p>

{% endblock %}