{% extends "../base.html"%}
{% block title%}Posts{% endblock title%}

{% block content %}
{% if posts %}

    {% for post in page_obj%}
        <h2>
            <a href='{{post.get_absolute_url}}'>{{post.title}}</a>
        </h2>
    <p class="date">
        {{post.published_at}}-{{post.author}}
    </p>
    {{ post.body|truncatewords:30}}
    {% endfor %}

{% include '../pagination.html' %}
{% endif %}
{% endblock content %}
